{% extends "template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load highlight %}

{% block styles %}
<link href="{% url 'styles' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{commit.summary}} in {{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block content %}

	<h1>{{repository}}</h1>

	<blockquote>{{commit.summary}}</blockquote>
	{% if commit.message_without_summary %}
		<div class="commit-message">{{commit.message_without_summary|linebreaks}}</div>
	{% endif %}

	<p>
		<a href="mailto:{{commit.author.email}}">{{commit.author}}</a> on {{commit.authored_datetime|time_tag}}
	</p>

	{% for change in commit.changes %}
		{% highlight change.diff "text/x-patch" %}
	{% endfor %}

{% endblock %}