{% extends "template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load highlight %}

{% block styles %}
<link href="{% url 'styles' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{commit.summary}} in {{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block content %}

	<h1>{{repository}}</h1>

	<div itemscope itemtype="http://schema.org/CreativeWork" itemrefs="author_{{commit.author.email|slugify}}">
		<meta itemprop="author accountablePerson" content="author_{{commit.author.email|slugify}}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span itemprop="headline">{{commit.summary}}</span>
					<span class="pull-right"><a href="{% url 'commit' repository.relative_path commit.hexsha %}" title="Permalink" itemprop="url">{{commit.shorthexsha}}</a></span>
				</h3>
			</div>
			<div class="panel-body">
				<div class="commit-message" itemprop="description">{{commit.message_without_summary|linebreaks}}</div>
			</div>
			<div class="panel-footer">
				{% author_tag commit.author %}, {{commit.authored_datetime|time_tag}}
				<span class="pull-right text-muted">Parents:
					{% for parent in commit.parents %}
						<a class="text-muted" itemprop="isBasedOnUrl" href="{% url 'commit' repository.relative_path parent.hexsha %}" title="{{parent.hexsha}}" itemprop="url">{{parent.shorthexsha}}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</span>
			</div>
		</div>
	</div>

	<div class="commit-stats">
		{% for filename, insertions, deletions in commit.stats_iter %}
			<div><a href="#{{filename|slugify}}">{{filename}}</a> ({% if insertions %}<span class="insertions">+{{insertions}}</span>{% endif %} {% if deletions %}<span class="deletions">-{{deletions}}</span>{% endif %})</div>
		{% endfor %}
	</div>

	{% for change in commit.changes %}
		<div id="{{change.a_blob.path|slugify}}">
			{% highlight change.diff "text/x-patch" %}
		</div>
	{% endfor %}

{% endblock %}