{% extends "template.html" %}
{% load bootstrap3 %}

{% block content %}

	<table class="table table-condensed">
		{% for repo in repositories %}

			<tr>
				<td>
					{% if repo.repo %}
						{% bootstrap_icon "list-alt" %}
						<a href="{% url 'browse' repo.relative_path %}" title="{{repo}}">{{repo.name}}</a>
					{% else %}
						{% bootstrap_icon "tasks" %}
						<a href="{% url 'list' repo.relative_path %}" title="{{repo}}">{{repo.name}}</a>
					{% endif %}
				</td>
				<td class="text-muted">{{repo.description}}</td>
				<td>{% for url in repo.clone_urls %}
					<a href="{{url}}">{{url}}</a><br />
				{% endfor %}</td>
			</tr>

		{% empty %}
			<tr>
				<td>
					<p>No repositories found.</p>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}