{% extends "template.html" %}
{% load gb_tags %}

{% block content %}

	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<h3>{{repository.name}}</h3>
			{% if repository.description %} <p>{{repository.description}}</p>{% endif %}
			<ul class="nav nav-sidebar">
				{% bootstrap_tab 'overview' %}
					<a href="{% url 'gitbrowser:overview' repository.relative_path %}"
					   title="Overview"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Overview</a>
				{% endbootstrap_tab %}

				{% bootstrap_tab 'source' %}
					<a href="{% url 'gitbrowser:browse_ref' repository.relative_path repository.list_filter_ref '' %}"
					   title="Browse source tree of {{repository.name}}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Source</a>
				{% endbootstrap_tab %}
				{% bootstrap_tab 'commits' %}
					<a href="{% url 'gitbrowser:commits' repository.relative_path repository.list_filter_ref %}"
					   title="Commits for {{repository.name}}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Commits</a>
				{% endbootstrap_tab %}
				{% bootstrap_tab 'tags' %}
					<a href="{% url 'gitbrowser:tags' repository.relative_path %}"
					   title="Tags in {{repository.name}}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</a>
				{% endbootstrap_tab %}
				{% comment %}
				{% bootstrap_tab 'branches' %}
					<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Branches</a>
				{% endbootstrap_tab %}
				{% bootstrap_tab 'stats' %}
					<a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Stats</a>
				{% endbootstrap_tab %}
				{% endcomment %}
			</ul>
		</div>

		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% if can_switch_branches %}
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Branch: <strong>{{repository.list_filter_ref}}</strong> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						{% if repository.branches|length > 1 %}
							<li>
								<a href="{% url 'gitbrowser:browse_ref' repository.relative_path repository.list_filter_ref repository.list_filter_path %}"
								   class="current-branch"
								   title="Browse branch {{repository.list_filter_ref}}">{{repository.list_filter_ref}}</a>
							</li>
							<li role="presentation" class="divider"></li>
							{% for branch in repository.branches %}
								{% if branch.name != repository.list_filter_ref %}
									<li>
										<a href="{% url 'gitbrowser:browse_ref' repository.relative_path branch repository.list_filter_path %}"
												title="Browse branch {{branch}}">{{branch}}</a>
									</li>
								{% endif %}
							{% endfor %}
						{% else %}
							<li role="presentation"><i>No other branches.</i></li>
						{% endif %}

					</ul>
				</div>
			{% endif %}

			{% block repository_content %}
			{% endblock %}
		</div>
	</div>


{% endblock %}