{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}Tags in {{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block repository_content %}

	{% for tag in repository.tags %}
		<h3>{{tag}} <small>{{tag.commit.summary}}</small></h3>
		<p class="text-muted">{{tag.commit.committer}}, {{tag.commit.committed_datetime|time_tag}}</p>
	{% empty %}
		<p>This repository does not have any tags yet.</p>
	{% endfor %}

{% endblock %}