{% extends "repository_template.html" %}
{% load humanize %}

{% block title %}{{blob.path}} in {{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block repository_content %}
	<p>
		<a href="mailto:{{blob.latest_commit.author.email}}">{{blob.latest_commit.author}}</a> on
		<time datetime="{{blob.latest_commit.authored_datetime|date:'c'}}"
				title="{{blob.latest_commit.authored_datetime}}">{{blob.latest_commit.authored_datetime|naturaltime}}</time>:

		<a href="{% url 'commit' repository.relative_path blob.latest_commit.hexsha %}" title="{{blob.latest_commit.summary}}">{{blob.latest_commit.summary}}</a>
	</p>

	{% if blob.can_display %}
		<pre>{{blob.content}}</pre>
	{% else %}
		<p>I'm sorry, i cannot display files with <code>{{blob.mime_type}}</code>.</p>
	{% endif %}
{% endblock %}