{% extends "repository_template.html" %}
{% load humanize %}

{% block title %}{% if repository.list_filter_path %}{{repository.list_filter_path}} in {% endif %}{{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block repository_content %}

	{% if repository.items %}
		<table class="table table-condensed tree-table">
			{% if repository.list_filter_path_items|length > 0 %}
				<tr>
					<td class="tree-item-name">
						<a href="{% url 'browse_ref' repository.relative_path repository.list_filter_ref repository.list_filter_path_items|slice:":-1"|last|first %}"
									title="Browse {{repository.list_filter_path_items|slice:":-1"|last|last}}">..
						</a></td>
					<td colspan="2"></td>
				</tr>
			{% endif %}

			{% for item, commit in repository.items %}
				<tr>
					<td class="tree-item-name">
						{% if item.type == 'blob' %}
							<a href="{% url 'browse_blob' repository.relative_path repository.list_filter_ref item.path %}"
									title="Show {{item.name}}">{{item.name}}</a>
						{% else %}
							<a href="{% url 'browse_ref' repository.relative_path repository.list_filter_ref item.path %}"
									title="Browse {{item.name}}">{{item.name}}</a>
						{% endif %}
					</td>
					<td class="text-muted tree-item-latest-commit">
						<a class="text-muted"
						   href="{% url 'commit' repository.relative_path commit.hexsha %}"
						   title="{{commit.summary}}">{{commit.summary}}</a>
					</td>
					<td class="text-muted tree-item-latest-commit-date">
						<time datetime="{{item.latest_commit.authored_datetime|date:'c'}}"
							  title="{{item.latest_commit.authored_datetime}}">{{item.latest_commit.authored_datetime|naturaltime}}</time>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>This is an empty repository</p>
	{% endif %}

{% endblock %}