{% load bootstrap3 %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% block whole_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block robots %}<meta name="robots" content="index,follow,noarchive" />{% endblock %}

		{% block head %}{% endblock %}

		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{STATIC_URL}}dashboard.css" rel="stylesheet">
		<link href="{{STATIC_URL}}site.css" rel="stylesheet">
		{% block styles %}{% endblock %}

		<script type="text/javascript" src="{{STATIC_URL}}jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}site.js"></script>
		{% block scripts %}{% endblock %}
	</head>
	<body role="document">

		<nav class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container-fluid">
				<div id="navbar">

					<ul class="nav navbar-nav">
						<li><a href="{% url 'list' %}" title="Projects">Projects</a></li>
						<li class="navbar-text hidden-xs">/<li>
						{% for path, label in browse_path_items %}
							<li><a href="{% url 'list' path %}" title="Browse {{path}}">{{label}}</a></li>
							{% if not forloop.last %}
								<li class="navbar-text hidden-xs">/<li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="navbar-right login-logout">
						{% if user.is_authenticated %}
							<a href="{% url 'logout' %}" title="Logout" class="btn btn-success navbar-btn" role="button">Logout</a>
						{% else %}
							<a href="{% url 'login' %}" title="Login" class="btn btn-success navbar-btn" role="button">Login</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			{% block content %}{% endblock %}

			{% include "footer.html" %}
		</div>
	</body>
</html>