{% extends "repository_browse_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load highlight %}

{% block styles %}
<link href="{% url 'styles' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{repository.name}}/{% if repository.path %}{{repository.path}}/{% endif %}{{blob.path}} {% endblock %}

{% block repository_browse_content %}
	<div itemscope itemtype="http://schema.org/Code">
		<meta itemprop="codeRepository" content="{{repository.preferred_clone_url}}" />
		<meta itemprop="sampletype" content="inline code" />
		<p>
			{% author_tag blob.latest_commit.author %}, {% time_tag blob.latest_commit.authored_datetime %}:

			<a itemprop="url" href="{% url 'commit' repository.relative_path blob.latest_commit.hexsha %}" title="{{blob.latest_commit.summary}}">{{blob.latest_commit.summary|truncatewords:20}}</a>

			<span class="pull-right"><a href="{% url 'history' repository.relative_path repository.list_filter_ref blob.path %}">History</a></span>
		</p>

		{% if blob.can_display %}
			{% highlight blob.content blob.mime_type blob.name linenos=True %}
		{% else %}
			<p>I'm sorry, i cannot display files with <code>{{blob.mime_type}}</code>.</p>
		{% endif %}
	</div>
{% endblock %}