{% extends "repository_browse_template.html" %}
{% load staticfiles %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{{repository.name}}/{% if repository.list_filter_path %}{{repository.list_filter_path}}{% else %}Source{% endif %}{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'gitbrowser/polyfills/EventSource.js' %}"></script>
{% endblock %}


{% block repository_browse_content %}

	{% if repository.items %}
		<table class="table table-condensed tree-table" itemscope itemtype="http://schema.org/ItemList" data-url="{% url 'gitbrowser:tree_data' repository.relative_path repository.list_filter_ref repository.list_filter_path %}">
			{% if repository.list_filter_path_items|length > 0 %}
				<tr>
					<td class="tree-item-name">
						<a href="{% url 'gitbrowser:browse_ref' repository.relative_path repository.list_filter_ref repository.list_filter_path_items|slice:":-1"|last|first %}"
									title="Browse {{repository.list_filter_path_items|slice:":-1"|last|last}}">..
						</a></td>
					<td colspan="2"></td>
				</tr>
			{% endif %}

			{% for item in repository.items %}
				<tr itemprop="itemListElement">
					<td class="tree-item-name">
						{% if item.type == 'blob' %}
							{% bootstrap_icon "file" %}
						{% else %}
							{% bootstrap_icon "folder-close" %}
						{% endif %}
						<a href="
							{% if item.type == 'blob' %}
								{% url 'gitbrowser:browse_blob' repository.relative_path repository.list_filter_ref item.path %}
							{% else %}
								{% url 'gitbrowser:browse_ref' repository.relative_path repository.list_filter_ref item.path %}
							{% endif %}"
						   title="Show {{item.name}}" itemprop="name url">

							{{item.name}}</a>
					</td>
					<td class="text-muted tree-item-latest-commit" id="commit_{{item.hexsha}}"></td>
					<td class="text-muted tree-item-latest-commit-date" id="datetime_{{item.hexsha}}"></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>This is an empty repository</p>
	{% endif %}



{% endblock %}