{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}
{% load profiling %}

{% block title %}{{repository.name}}/{% if repo_path %}History of {{repo_path}}{% else %}Commits{% endif %}{% endblock %}

{% block repository_content %}

	{% regroup commits by committed_datetime.date as grouped_commits %}

	<table class="table table-condensed commit-table">
		{% for commit_group in grouped_commits %}
			<tr>
				<td colspan="3">
					<h5 class="text-muted" title="{{commit_group.grouper|naturalday}}">Commits on {{commit_group.grouper}}</h5>
				</td>
			</tr>

			{% for commit in commit_group.list %}
				<tr itemscope itemtype="http://schema.org/CreativeWork" class="commit-row">
					<td class="commit-author">{% author_tag commit.author %}</td>
					<td>
						<a href="{% url 'gitbrowser:commit' repository.relative_path commit.hexsha %}"
						   itemprop="url"
						   title="{{commit.summary}}"><span itemprop="headline">{{commit.summary|default:"(no message)"}}</span></a>

						{% if commit.tag %}
							<span class="label label-warning tag-label"><a href="{% url 'gitbrowser:tags' repository.relative_path %}#{{commit.tag}}">{{commit.tag}}</a></span>
						{% endif %}
					</td>
					<td class="commit-time">
						{% time_tag commit.committed_datetime itemprop="dateCreated" %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>

	{% if paginator.num_pages > 1 %}
		{% bootstrap_pagination commits %}
	{% endif %}
{% endblock %}