{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load highlight %}

{% block styles %}
<link href="{% url 'gitbrowser:styles' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{repository.name}}/Commits/{{commit.summary}}{% endblock %}

{% block repository_content %}
	<div itemscope itemtype="http://schema.org/CreativeWork" itemrefs="author_{{commit.author.email|slugify}}">
		<meta itemprop="author accountablePerson" content="author_{{commit.author.email|slugify}}">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span itemprop="headline">{{commit.summary}}</span>
					<span class="pull-right"><a href="{% url 'gitbrowser:commit' repository.relative_path commit.hexsha %}" title="Permalink" itemprop="url">{{commit.shorthexsha}}</a></span>
				</h3>
			</div>
			<div class="panel-body">
				{% if commit.message_without_summary %}
					<div class="commit-message" itemprop="description">
						{% autolink commit.message_without_summary %}
					</div>
				{% else %}
					<span class="text-muted">(no more text)</span>
				{% endif %}
			</div>
			<div class="panel-footer">
				{% autoescape off %}{% author_tag commit.author %}, {% time_tag commit.authored_datetime itemprop="dateCreated" %}{% endautoescape %}
				<span class="pull-right text-muted">Parents:
					{% for parent in commit.parents %}
						<a class="text-muted" itemprop="isBasedOnUrl" href="{% url 'gitbrowser:commit' repository.relative_path parent.hexsha %}" title="{{parent.hexsha}}" itemprop="url">{{parent.shorthexsha}}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</span>
			</div>
		</div>
	</div>


	<h4>Changes</h4>
	{% for change in commit.changes %}
		<div id="{{change.a_blob.path|slugify}}" class="panel panel-default diff-panel">
			<div class="panel-heading">
				{{change.a_blob.path}}
			</div>
			<div class="panel-body">
				{% autoescape off %}{% highlight change.diff "text/x-patch" %}{% endautoescape %}
			</div>
		</div>
	{% endfor %}

{% endblock %}