{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{{repository.name}}/{% if repo_path %}History of {{repo_path}}{% else %}Commits{% endif %}{% endblock %}

{% block repository_content %}

	{% regroup commits by committed_datetime.date as grouped_commits %}

	{% for commit_group in grouped_commits %}
		<h5 class="text-muted" title="{{commit_group.grouper|naturalday}}">Commits on {{commit_group.grouper}}</h5>
		<ul class="media-list commit-list" itemscope itemtype="http://schema.org/ItemList">
			<meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending" />
			{% for commit in commit_group.list %}
				<li class="media" itemscope itemtype="http://schema.org/CreativeWork">
					<div class="media-left">
						<img class="media-object img-rounded"
							 src="{% url 'gitbrowser:avatar' %}?email={{commit.committer.email}}&size=40"
							 alt="{{commit.committer.name}}" title="{{commit.committer.name}}">
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="{% url 'gitbrowser:commit' repository.relative_path commit.hexsha %}"
							   itemprop="url"
							   title="{{commit.summary}}"><span itemprop="headline">{{commit.summary|default:"(no message)"}}</span></a>

							{% if commit.tag %}
								<span class="label label-warning tag-label"><a href="{% url 'gitbrowser:tags' repository.relative_path %}#{{commit.tag}}">{{commit.tag}}</a></span>
							{% endif %}
						</h4>
						<p class="text-muted">
							{% autoescape off %}{% author_tag commit.author with_avatar=False %}, {% time_tag commit.committed_datetime itemprop="dateCreated" %}{% endautoescape %}
						</p>
					</div>
				</li>
			{% endfor %}
		</ul>

		<hr />
	{% endfor %}

	{% if paginator.num_pages > 1 %}
		{% bootstrap_pagination commits %}
	{% endif %}
{% endblock %}