{% extends "template.html" %}
{% load bootstrap3 %}
{% load gb_tags %}

{% block title %}Repository Listing{% if browse_path %}/{{browse_path}}{% endif %}{% endblock %}

{% block body_content %}
	<div class="container">
		{% regroup repositories by path as grouped_repositories %}

		<div class="table-responsive">
			<div itemscope itemtype="http://schema.org/Table">
				<h2 itemprop="about">Repositories</h2>
				<table class="table table-condensed">
				{% for group in grouped_repositories %}
					{% if group.grouper %}
						<tr>
							<th colspan="3" id="{{group.grouper|slugify}}">{{group.grouper}}</th>
						</tr>
					{% endif %}
					{% for repo in group.list %}
						<tr>
							<td>
								{% if repo.repo %}
									{% bootstrap_icon "list-alt" %}
									<a href="{% url 'gitbrowser:overview' repo.relative_path %}" title="{{repo.description|default:repo.name}}">{{repo.name}}</a>
								{% else %}
									{% bootstrap_icon "tasks" %}
									<a href="{% url 'gitbrowser:list' repo.relative_path %}" title="{{repo}}">{{repo.name}}</a>
								{% endif %}
							</td>
							<td class="text-muted">{{repo.description}}</td>
							<td>{% if repo.preferred_clone_url %}<a href="{{repo.preferred_clone_url}}" title="Clone URL">{{repo.preferred_clone_url}}</a>{% endif %}</td>
						</tr>
					{% endfor %}
				{% empty %}
					<tr>
						<td>
							<p>No repositories found.</p>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}