{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{% if repository.list_filter_path %}{{repository.list_filter_path}} / {% endif %}{{repository.name}}{% if repository.description %} - {{repository.description}}{% endif %}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block head %}
<link rel="alternate" type="application/atom+xml" title="Commits on {{repository.name}}" href="{% url 'gitbrowser:feed' repository.relative_path %}" />
{% endblock %}

{% block repository_content %}
	<div itemscope itemtype="http://schema.org/SoftwareApplication">
		<meta itemprop="url" content="{% url 'gitbrowser:overview' repository.relative_path %}" />
		{% if repository.tags %}
			<meta itemprop="softwareVersion" content="{{repository.tags.0}}" />
		{% endif %}
		<h1><span itemprop="name">{{repository.name}}</span>{% if repository.description %} <small itemprop="description">{{repository.description}}</small>{% endif %}</h1>

		<table class="table table-condensed">
			<tr>
				<th>Clone urls</th>
				<td>{% clone_url_selector repository %}</td>
			</tr>
			<tr>
				<th>Last update</th>
				<td>{% time_tag repository.last_update itemprop="dateModified" %}</td>
			</tr>
		</table>

		<div class="row">
			<div class="{% if repository.has_dependencies %}col-md-9{% else %}col-md-12{% endif %}">
				{% if repository.readme %}
					<div class="panel panel-default readme-panel">
						<div class="panel-heading"><h4 class="panel-title" id="readme">{% bootstrap_icon "list-alt" %} Readme</h4></div>
						<div class="panel-body">
							{{repository.readme|safe}}
						</div>
					</div>
				{% else %}
					<div class="alert alert-info" role="alert">
						<p><strong>Did you know?</strong> Gitbrowser will render the content of README files in the root of the
						repository here.<br />Supported formats: Markdown (README.md), ReStructured Text (README.rst) and Plain text (README.txt or README).</p>
					</div>
				{% endif %}
			</div>
			{% if repository.has_dependencies %}
				<div class="col-md-3">
					<div class="panel panel-default readme-panel">
						<div class="panel-heading"><h4 class="panel-title" id="dependencies">{% bootstrap_icon "list-alt" %} Dependencies</h4></div>
						<div class="panel-body">
							{% for dep in repository.dependencies %}
								<p><a href="{{dep.url}}" title="{{dep}}">{{dep}}</a></p>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}