{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{% if repository.list_filter_path %}{{repository.list_filter_path}} in {% endif %}{{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block repository_content %}

	{% if repository.readme %}
		<div class="panel panel-default">
			<div class="panel-heading"><h4 class="panel-title" id="readme">{% bootstrap_icon "list-alt" %} Readme</h4></div>
			<div class="panel-body">
				{{repository.readme|safe}}
  			</div>
		</div>
	{% else %}
		<p>Too bad, the repository doesn't have a Readme file :(</p>
	{% endif %}

{% endblock %}