{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{% if repository.list_filter_path %}{{repository.list_filter_path}} in {% endif %}{{repository.name}}{% if repository.path %} :: {{repository.path}}{% endif %}{% endblock %}

{% block repository_content %}

	<div itemscope itemtype="http://schema.org/SoftwareApplication">
		<meta itemprop="url" content="{% url 'overview' repository.relative_path %}" />
		{% if repository.tags %}
			<meta itemprop="softwareVersion" content="{{repository.tags.0}}" />
		{% endif %}
		<h1><span itemprop="name">{{repository.name}}</span>{% if repository.description %} <small itemprop="description">{{repository.description}}</small>{% endif %}</h1>

		<table class="table table-condensed">
			<tr>
				<th>Clone urls</th>
				<td>{% clone_url_selector repository %}</td>
			</tr>
			<tr>
				<th>Last update</th>
				<td>{% time_tag repository.last_update itemprop="dateModified" %}</td>
			</tr>
		</table>

		{% if repository.readme %}
			<div class="panel panel-default readme-panel">
				<div class="panel-heading"><h4 class="panel-title" id="readme">{% bootstrap_icon "list-alt" %} Readme</h4></div>
				<div class="panel-body">
					{{repository.readme|safe}}
				</div>
			</div>
		{% else %}
			<p>Too bad, the repository doesn't have a Readme file :(</p>
		{% endif %}
	</div>
{% endblock %}