{% extends "repository_template.html" %}
{% load gb_tags %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}{{repository.name}}/Tags{% endblock %}

{% block repository_content %}

	<div itemscope itemtype="http://schema.org/ItemList">
		<meta itemprop="numberOfItems" content="{{repository.tags|length}}" />

		{% for tag in repository.tags %}
			<div itemprop="itemListElement">
				<h3 id="{{tag}}"><span itemprop="name">{{tag}}</span> <small itemprop="description">{{tag.commit.summary}}</small></h3>
				<p class="text-muted">{{tag.commit.committer}}, {% time_tag tag.commit.committed_datetime %} -
					Download <a href="{% url 'gitbrowser:archive' repository.relative_path tag.name 'gz' %}">.tar.gz</a>
				</p>
			</div>
			<hr />
		{% empty %}
			<p>This repository does not have any tags yet.</p>
		{% endfor %}
	</div>

{% endblock %}